code.has-jax {
    -webkit-font-smoothing: antialiased;
    background: inherit !important;
    border: none !important;
    font-size: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    color: #333 !important;
}

.about-blurb {
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;
    margin: 1.2em 0;
    p {
        margin: 0;
    }
    p:not(:first-child){
        margin-top: 0.5em;
    }
}

#tag-icon:before {
    content: url("/tag.png");
    opacity: 30%;
    position: relative;
    top: 3px;
}
