<!-- 
{{ if not .IsNode }}
  <div class="content-container">
    <div class="content">
      {{- partial "about.html" . -}}
    </div>
  </div>
{{ end }}
 -->
{{ if .Params.katex}}{{ partial "katex.html" . }}{{ end }}

{{ if .File }} {{ if .Path }}
  {{ $Rmd := (print .File.BaseFileName ".Rmd") }}

{{ if (where (readDir (print "content/" .File.Dir)) "Name" $Rmd) }}
  {{ $.Scratch.Set "FilePath" (print .File.Dir $Rmd) }}
{{ else }}
  {{ $.Scratch.Set "FilePath" .File.Path }}
{{ end }}

<p align="center">
  <a href="#top">Back to top</a> |
  {{ with .Site.Params.GithubView}}
  <a href='{{ . }}{{ $.Scratch.Get "FilePath" }}'>View source</a> {{ end }} | {{
  with .Site.Params.GithubEdit}}
  <a href='{{ . }}{{ $.Scratch.Get "FilePath" }}'>Edit source</a> {{ end }}
</p>
{{ end }} {{ end }}